<div id="description">
    <header>{{> projects}}</header>
</div>
<a id="back" href="/projects/">back</a>

<h2 id="title">{{title}}</h2>
<div id="container-description">
    <div id="overlay">

    </div>
    <img id="description-image" src="/{{thisDirectory}}/screenshot.png" alt="">
</div>
<p id="description-text">{{thisDescription}}</p>
<form id="button" action="" method="post">
    <button id="{{title}}">Watch my {{title}} project</button>
</form>
